@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0F766E;
  --color-secondary: #F4EDE4;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

.active{
  background-color: #F4EDE4;
  color: #0F766E;
  font-size: 16px;
}